/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities*/
body {
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #FFFFFF;
}

/* hr {
    border: 1px solid #D1D1D1;
} */

/* .............
...header styles....
................ */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.first-part {
    font-size: 20px;
    font-weight: 700;
    color: #3A3A3A;

}

.navbar {
    height: 36px;
    width: 600px;
    margin-left: 700px;
}

nav a {
    text-decoration: none;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

/* .........................
.......top part styles......
............................ */
.container {
    margin-bottom: 100px;
}

.influencer-journey {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 300px;
    align-items: center;
    margin-bottom: 60px;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 0;
}

.prebook p {
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: 5px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 800;
}

.camera img {
    width: 440px;
    height: 414px;
}

/*....................
...... Logo styles..... */

.logos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-around;
    padding: 50px 300px;
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    margin: 0 165px;
}

/* ...................
.....content styles....
....................... */
.collection {
    margin-left: 150px;
    margin-right: 200px;

}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 30px;
}

.contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.content {
    width: 330px;
    height: 475px;
    padding-top: 10px;
    padding-left: 16px;
    box-shadow: 0px 0px 40px lightgrey;
}

.content .content-banner img {
    width: 300px;
    height: 256px;
    border-radius: 5px;
    padding: 5px;
}